<h2>Logowanie / Rejestracja</h2>
<br>

<div class="login1">
    <div class="box">
        <h3>Mam już konto w serwisie</h3>
        <input type="text" [(ngModel)]="nick" placeholder="Login">
        <br>
        <input type="password" [(ngModel)]="password" placeholder="Hasło">
        <br>
    </div>

    <div class="click">
        <button (click)="login()">Zaloguj</button>
    </div>

    <div class="login">
        <div *ngIf="showmessage">
            {{message}} 
        </div>
    </div>
</div>

<div class="register">
    <h3>Jestem nowym klientem</h3>
    <ul>
        <li>Śledź status swoich zgłoszeń</li>
        <br>
        <li>Przeglądaj historię zamówień</li>
        <br>
        <li>Otrzymuj kody rabatowe i oferty dla naszych Klientów</li>
    </ul>
    <br>
    <button [routerLink]="['/register']">Zarejestruj się</button>
</div>