*{
    margin: 0 auto;
    border-style: none;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #aaaaaa; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(185, 185, 185); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(87, 87, 87); 
  }