<div class="spare-parts-box">
    <h2>Części zamienne do samochodów</h2>
    <br>
    <div class="spare-parts">
        <div class="engine-parts">
            <img src="assets/images/czescisilnika.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/engine-parts']">Części silnika, rozrząd</a>
        </div>

        <div class="brake-pads">
            <img src="assets/images/klocki.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-pads']">Klocki, szczęki i tarcze hamulcowe</a>
        </div>

        <div class="drive-system">
            <img src="assets/images/napedowy.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/drive-system']">Układ napędowy</a>
        </div>

        <div class="brake-system">
            <img src="assets/images/hamulcowy.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-system']">Układ hamulcowy</a>
        </div>
    <br>
</div>