h2{
    text-align: center;
}

.spare-parts-box{
    height: 772px;
}

img{
    opacity: 0.7;
}

.engine-parts {
    width: 25%;
    display: inline-block;
    text-align: center;
}

.brake-pads {
    width: 25%;
    display: inline-block;
    text-align: center;
}

.drive-system {
    width: 25%;
    display: inline-block;
    text-align: center;
}

.brake-system {
    width: 25%;
    display: inline-block;
    text-align: center;
}

.text{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

