<div class="spare-parts-box">
    <h2>Części zamienne do samochodów</h2>
    <br>
    <div class="spare-parts">
        <div class="engine-parts">
            <img [routerLink]="['/shop/spare-parts/engine-parts']" src="../../../../assets/images/zdjecie1.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/engine-parts']">Części silnika, rozrząd</a>
        </div>

        <div class="brake-pads">
            <img [routerLink]="['/shop/spare-parts/brake-pads']" src="../../../../assets/images/zdjecie 4.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-pads']">Klocki, szczęki i tarcze hamulcowe</a>
        </div>

        <div class="drive-system">
            <img [routerLink]="['/shop/spare-parts/drive-system']" src="../../../../assets/images/zdjecie 2.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/drive-system']">Układ napędowy</a>
        </div>

        <div class="brake-system">
            <img [routerLink]="['/shop/spare-parts/brake-system']" src="../../../../assets/images/zdjecie 3.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-system']">Układ hamulcowy</a>
        </div>
    <br>
</div>