<div class="content">
    <div class="content-logo">
        <div class="logo">
            <img class="logo" src="../../../assets/images/przelewy24.png">
        </div>
    </div>
    <div class="content-sum">
        <div class="payment">
            <h2>Wybierz formę płatności</h2>
        </div>
        <div class="sum">
            <h3>Kwota:</h3>
        </div>
    </div>
    <div class="content-transfer">
        <h2>Przelewy</h2>
        <div class="line-1">
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankmbank.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankipko.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/banksantander.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/banking.png">
            </div>
        </div>
        <div class="line-2">
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankpekao.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankalior.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankinteligo.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankcredit.png">
            </div>
        </div>
        <div class="line-3">
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankgetin.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankparibas.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/banknowy.png">
            </div>
            <div class="grid-item">
                <input class=bank1 name="bank" type="radio">
                <img src="../../../assets/images/bankmilenium.png">
            </div>
        </div>
    </div>
    <button class="button" (click)="accept()">Przejdź na strone banku</button>
</div>