.content{
    width: 60%;
    height: 802px;
}

.logo img{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-sum{
    width: 100%;
    height: 100px;
}

.payment{
    float: left;
    margin-top: 50px;
}

.sum{
    float: right;
    margin-top: 50px;
}

.content-transfer{
    background-color: rgb(3, 3, 3);
    margin-top: 20px;
    height: 400px;
    border: 1px solid white;
}

.content-transfer h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.grid-item img {
    background-color: white;
    margin-left: 10px;
}

.grid-item{
    margin-top: 20px;
    margin-left: 90px;
    padding: 10px;
    text-align: left;
}

.line-1{
    border-top: 1px solid white;
    float: left;
    width: 33.33%;
    height: 336px;
}

.line-2{
    border-top: 1px solid white;
    float: left;
    width: 33.33%;
    height: 336px;

}

.line-3{
    border-top: 1px solid white;
    float: left;
    width: 33.33%;
    height: 336px;
}

.button{
    text-align: center;
    float: right;
    margin-top: 50px;
    width: 250px;
    padding: 15px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    color:white;
    background-color: rgb(153, 152, 152);
}

button:hover{
    background-color: #ea382e;
}

input{
    line-height: 10px;
}




