<h2>Kategorie produktów</h2>

<br>
<div class="shop">
    <div class="spare-parts">
        <img src="assets/images/czesci.jpg">
        <a class="text" [routerLink]="['/shop/spare-parts']"routerLinkActive="active">Części zamienne</a>
    </div>


    <div class="oils">
        <img src="assets/images/olej.jpg">
        <a class="text" [routerLink]="['/shop/oils']">Oleje, płyny</a>
    </div>

    <div class="lighting">
        <img src="assets/images/oswietlenie.jpg">
        <a class="text" [routerLink]="['/shop/lighting']">Oświetlenie samochodu</a>
    </div>

    <div class="equipment">
        <img src="assets/images/wnetrze.jpg">
        <a class="text" [routerLink]="['/shop/equipment']">Wyposażenie wnętrza samochodowego</a>
    </div>

    <div class="tools">
        <img src="assets/images/narzedzia.jpg">
        <a class="text" [routerLink]="['/shop/tools']">Narzędzia i wyposażenie</a>
    </div>

    <div class="body-parts">
        <img src="assets/images/czescidonadwozia.jpg">
        <a class="text" [routerLink]="['/shop/body-parts']">Części do nadwozia</a>
    </div>

    <div class="tires">
        <img src="assets/images/opony.jpg">
        <a class="text" [routerLink]="['/shop/tires']">Opony i felgi</a>
    </div>

    <div class="electronics">
        <img src="assets/images/audio.jpg">
        <a class="text" [routerLink]="['/shop/electronics']">Audio i elektronika</a>
    </div>
</div>

<br>