<div class="contact-page">
    <div class="box-contact">
        <p class="name">Adres siedziby:</p>
        <p>ul. Piramowicza 213</p>
        <p>33-300 Nowy Sącz</p>
        <p>Polska</p>
    </div>
    <div class="box-contact">
    <p class="name">Godziny pracy:</p>
    <p>Pon-Pt: 7:00-20:00</p>
    <p>Sob: 8:00-14:00</p>
    </div>
    <div class="box-contact">
    <p class="name">Telefon / E-mail</p>
    <p>tel.: (18) 334 34 77 lub 503 667 002</p>
    <p>e-mail: warsztat@gmail.com</p>
    </div>
</div>
       






   

