/* container */

.container{
    padding: 0;
    margin: 0;
    min-height:100vh
}

/* header */

.header{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.basket{
    width: 33%;
    float: left;
}

.basket-title{
    color: rgba(0, 255, 157);
}

.delivery{
    width: 33%;
    float: left;
}

.finished{
    width: 33%;
    float: left;
}

.baskettitle{
    margin-left: 265px;
    margin-bottom: 10px;
}

/* contentleft */

.contentleft{
    width: 50%;
    float: left;
}

/* basketbox */

.basketbox{
    margin-left: 265px;
}

.table-basket{
    text-align: center;
    width: 800px;
    border-collapse: collapse;
    border: 1px solid gray;
}

.table-basket thead{
    border: 1px solid gray;
    font-size: 20px;
    font-weight: 800;
}

.table-basket thead tr th{
    border-left: 1px solid gray;
    padding: 10px;
}

.table-basket tbody tr td{
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 18px;
}

.box-left{
    text-align: left;
}

.box-left th{
    text-align: center;
}

#amount{
    width: 50px;
}

.table-basket tbody tr td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.table-basket tbody tr td img{
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

/* paymentbox */

.paymentbox{
    width: 800px;
    margin-left: 265px;
    margin-top: 30px;
}

.payment-line{
    border: 1px solid gray;
    padding: 7px;
    height: 25px;
    margin-bottom: 10px;
}

.payment-line:hover{
    color: rgb(0, 255, 157);
}

input .transport_1{
    float: left;
}

.transport_2{
    margin-left: 10px;
    font-size: 15px;
}

.transport_3{
    margin-left: 30px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7)
}

.transport_4{
    float: right;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9)
}

img{
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    height: 25px;
}

/* contentright */

.contentright{
    width: 50%;
    float: left;
}

/* summarybox */

.summarybox{
    width: 530px;
    margin-left: 190px;
    border: 1px solid gray;
}

.summarybox tr th{
    text-align: left;
}

.summarybox tr td{
    text-align: right;
}

.summarytitle{
    padding: 15px;
    background-color: gray;
    width: 500px;
    text-align: center;
}

.summarytable{
    padding: 20px;
    font-weight: 400;
}

hr{
    border: 1px solid #d7d7d7;
    width: 230px;
}

.summarysum{
    font-size: 24px;
    font-weight: 800;
}

.summarymoney{
    font-size: 28px;
    color: rgba(0, 255, 157);
}


/* infobox */

.infobox{
    margin-left: 190px;
    border: 1px solid gray;
    margin-top: 20px;
    width: 500px;
    padding: 15px;
}

.infobox h3{
    padding: 5px;
    font-size: 22px;
    font-weight: 800;
}

.imgbox{
    background-color: black;
}

#buttonnext{
    margin-top: 50px;
    margin-right: 235px;
    margin-left: 10px;
    float: right;
    width: 70px;
    padding: 10px;
    background-color: rgba(0, 255, 157);
}

#buttonback{
    margin-top: 50px;
    float: right;
    width: 70px;
    padding: 10px;
    background-color: rgba(0, 255, 157);
}


/* modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(25,25,25);
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    margin: 20% auto;
    padding: 20px;
    font-weight: 500;
    width: 25%;
  }

  /* The Close Button */
.close {
	background-color: rgb(192, 192, 192);
	width: 100px;
    padding: 5px;
    margin-left: 20px;
}

.loginempty{
    text-align: center;
}

.loginbutton{
	width: 130px;
    padding: 5px;
    margin-left: 110px;
    margin-bottom: 5px;
	background-color: #ce4b4b;
	color: white;
}

.loginbutton:hover{
	background-color: #833131;
}

.close:hover {
	background-color: white;
} 
