<div class="basket-box">
    <div class="progressbar">
        <div class="basket">
            <h2 class="basket-title">Koszyk</h2>
        </div>
        <div class="delivery">
            <h2 class="delivery-title">Dane adresowe</h2>
        </div>
        <div class="finished">
            <h2 class="finished-title">Podsumowanie</h2>
        </div>
    </div>

    <div class="container cart-page">
        <table class="table-basket">
            <thead>
                <tr>
                    <th class="box-left">Nazwa</th>
                    <th>Ilość</th>
                    <th>Wartość</th>
                    <th>Usuń</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of parts">
                    <td class="box-left">
                        <img src="{{part.imagePath}}">
                        {{part.name}}
                        {{part.producent}}
                        {{part.price}}
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="part.amount" (change)="editQuantity()">
                    </td>
                    <td id="amount">{{part.price*part.amount}}</td>
                    <td>
                        <button (click)="removeItem(part)">
                            Usuń
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="payment">
            <h3>Sposób transportu</h3>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>Kurier InPost</label>
                <img src="assets/images/inpost.png">
                <span class=transport_3>Darmowa dostawa przy zamówieniach od 359zł</span>
                <span class=transport_4>16,00 zł</span>
            </div>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>Kurier DPD</label>
                <img src="assets/images/dpd.png">
                <span class=transport_3>Darmowa dostawa przy zamówieniach od 359zł</span>
                <span class=transport_4>16,00 zł</span>
            </div>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>InPost Paczkomaty 24/7</label>
                <img src="assets/images/24-7.png">
                <span class=transport_3>(wybierz paczkomat)</span>
                <span class=transport_4>14,00 zł</span>
            </div>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>CAT Cargo Logictics</label>
                <img src="assets/images/cat.png">
                <span class=transport_3>Darmowa dostawa przy zamówieniach od 359zł</span>
                <span class=transport_4>16,00 zł</span>
            </div>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>Odbiór osobisty w Nowym Saczu</label>
                <span class=transport_3>ul. Piramowicza 213</span>
                <span class=transport_4>0,00 zł</span>
            </div>
             
            <h3>Forma platności:</h3>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>Pobranie - płatność przy odbiorze</label>
                <span class=transport_4>6,00 zł</span>
            </div>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>Przelew na konto bankowe</label>
                <span class=transport_4>0,00 zł</span>
            </div>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>Przelewy 24</label>
                <img src="assets/images/przelewy-24.png">
                <span class=transport_4>0,00 zł</span>
            </div>
            <div class="payment-line">
                <input class=transport_1 type="checkbox">
                <label class=transport_2>Płatność BLIK</label>
                <img src="assets/images/blik.png">
                <span class=transport_4>0,00 zł</span>
            </div>
    </div>
    <div class="total-price">
        <h3>Podsumowanie koszyka</h3>
        <span>Wysyłka: </span><br>
        <span>Suma: {{sum}}</span>
        <button [routerLink]="['/delivery']">Dalej</button>
    </div>
</div>