<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title>Warsztat samochodowy</title>
	<meta name="description" content="Strona internetowa dla warsztatu samochodowego">
	<meta name="keywords" content="warsztat, samochodowy, serwis, naprawa, samochody, częsci">
	<meta name="Maciej Poręba">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	
	<link rel="stylesheet" href="app.component.css" type="text/css" >
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>

	<header>
		<a [routerLink]="['/home']" class="logo">
			<img src="../..//src/assets/images/logo.jpg">
		</a>
		<nav class="navbar">
			<ul class="navbar">
				<li><a [routerLink]="['/home']">Strona główna</a></li>
				<li><a [routerLink]="['/gallery']">Galeria</a></li>
				<li><a [routerLink]="['/shop']">Sklep</a></li>
				<li><a [routerLink]="['/contact']">Kontakt</a></li>
			</ul>
		</nav>

		<div class="icons">
		<a [routerLink]="['/login']" class="login">
			<img src="../..//src/assets/images/user-icon.png">
		</a>
		<a (click)="goToBasket()" class="basket">
			<img src="../..//src/assets/images/cart-icon.png">
		</a>		
		</div>

	</header>
	
	<div class="content">
		<router-outlet></router-outlet>
	</div>	

	<section class="footer">
		<div class="contact">
			<span>
				<img src="../..//src/assets/images/map-icon.png">
				ul. Piramowicza 213, Nowy Sącz
			</span>
			<span>
				<img src="../..//src/assets/images/phone-icon.png">
				503 667 002
			</span>
			<span>
				<img src="../..//src/assets/images/mail-icon.png">
				warsztat@gmail.com
			</span>
		</div>
	</section>
	
	<div *ngIf="showEmptyBasketDialog" class="modal">
		<div class="modal-content">
		<span class="close"(click)=closeEmptyDialogWindow()>&times;</span>
		<p>Koszyk pusty!</p>
		
	</div>
  
  </div>
  
</body>
</html>

