.progressbar{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.basket{
    float: left;
    width: 33%;
}

.delivery{
    float: left;
    width: 33%;
}

.delivery-title, .basket-title, .finished{
    color: rgba(0, 255, 157);
}

.finished{
    float: left;
    width: 33%;
}