<div class="page-content">
    <div class="logo">
        Dziękujemy za dokonanie zakupu w naszym sklepie - prosimy o wykonanie przelewu w celu zakończenia zamówienia
    </div>
    <div class="page">
        Nazwa konta: <span>AutoParts Sp. z o.o.</span><br>
        Adress firmy: <span>ul. Piramowicza 213, Nowy Sącz</span><br>
        Numer konta: <span>70 1410 2006 0000 3200 0926 4671</span><br>
        Tytuł przelewu: <span>Zamówienie #1</span><br>
        Kwota:  zł<br>
    </div>
    <div class="basket">
        Numerr zamówienia: #1<br>
        Forma dostawy: <br>
        Kwota: zł<br>
    </div>
    <div class="button-back">
        <button>Zapłać</button>
    </div>
</div>