.contener{
    text-align: center;
    width: 70%;
}

h1{
    margin-bottom: 20px;
}

input[type=text] {
    background: none;
    text-align: center;
    border: 2px solid #c34f4f;
    color: white;
    transition: 0.25s;
  }

input[type=number] {
    background: none;
    text-align: center;
    border: 2px solid #c34f4f;
    color: white;
    transition: 0.25s;
}


button{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 1px solid #751b1b;
    padding: 5px 10px;
    width: 110px;
    outline: none;
    color: rgba(255, 255, 255, 0.801);
    transition: 0.25s;
    background: #c34f4f;
    }

button:hover{
    background-color: #751b1b;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 5px;
}

td{
    text-align: center;
}

img{
    height: 150px;
    width: 150px;
    opacity: 0.5;
}



  
  