.home{
    margin-top: 20px;
    height: 752px;
    width: 75%;
}

h2{
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
}

.home-box p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-box{
    font-size: 20px;
    text-align: justify;
    padding: 25px;
}


