.contener{
    margin-top: 150px;
    height: 554px;
}

h1{
    font: 200;
    text-align: center;
    margin-bottom: 20px;
}

input[type=text] {
    margin-left: 5px;
    margin-bottom: 5px;
    background: none;
    text-align: left;
    border: 2px solid #c34f4f;
    color: white;
    transition: 0.25s;
  }

input[type=number] {
    margin-left: 5px;
    margin-bottom: 5px;
    background: none;
    text-align: left;
    border: 2px solid #c34f4f;
    color: white;
    transition: 0.25s;
}

button{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 1px solid #751b1b;
    padding: 10px 20px;
    width: 150px;
    outline: none;
    color: rgba(255, 255, 255, 0.561);
    transition: 0.25s;
    background: #c34f4f;
    margin-left: 45%;
    }

button:hover{
    background-color: #751b1b;
}

label{
    padding: 1px;
    margin-left: 10px;
}

select{
    margin-left: 5px;
    width: 175px;
}